*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*homepage*/

.image {
    width: 100%;
    height: 400px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    /*filter: contrast(100%);
    opacity:0:7;*/
    filter: brightness(60%);

}

.content {
    position: absolute;
    top:50%;
    left:50%;
    z-index: 1;
    color: white;
    transform: translate(-50%,-50%);
    color:rgb(247,246,246);
    text-align: center;
    /*border-radius:10px;*/
    font-weight:bolder;
    margin:0%;
    background-position:center ;
    line-height: 4;

}

button {
    background-color:green ;
    margin:10px;
    
}

.img1 {
    display:grid ;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    /* Responseive grid */
    gap:0;
    margin-top: 20px;
    margin-bottom:20px ;
    
    


}
.img1 img:hover {
    transform: scale(1.03);
}
.im1 {
    width:550px;
    height:300px;
    padding: 20px;
    margin-left:10px;
    background-color:aliceblue;
    
}

.im2 {
    width:550px;
    height:300px;
    padding: 20px;
    margin-left: 10px;
    background-color:aliceblue;

}

#id4 {
    display: block;
    margin: auto;

}

/*.navbar {
    background-color: rgb(19,178,246);
    padding: 15px 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
    flex-wrap: wrap;
    
    width: 100%;
    box-sizing: border-box;
}*/





.college {
    font-size: 24px;
    margin: 0;
    color: white;

}

/*.nav-links {
    align-items: center;
    display: inline-block;

    color: white;
    
    justify-content: space-between;
    
    

}*/





table {
    width:80%;
    border-collapse: collapse ;
    margin: 20px auto;
}

th,td {
    border: 1px solid #000;
    padding: 10px;

}

th {
    background-color: #f2f2f2;

}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;

}

.main {
    background-color: #52d2d2;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 25px;

}
.m1 {
    background-color: #52d2d2;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 25px;


}

.main1 {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #fff; 
    border-radius: 8px;
    padding: 30px;
    margin: 8px;
    
}
.m2 {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #fff; 
    border-radius: 8px;
    padding: 30px;
    margin: 8px;

}

#video {
    width: 100%;
}

#a1 {
    background-color: #28a745;
    color: white;
    padding: 15px 25px ;
    border-radius: 5px;
    font-weight: 700px;
}

#demo {
    margin:2%;
}

#demo1 {
    margin:1%
}

#demo2 {
    margin: 1%;
}

#demo3 {
    margin: 1%;
}

#demo4 {
    margin: 1%;
}

#demo5 {
    margin: 1%;
}

#demo6 {
    margin: 1%;
}
#demo7 {
    margin: 1%;
}
#demo8 {
    margin:1%
}

#a6 {
    margin: 1%;
    padding: 0;
    
}

#a3 {
    margin: 1%;
    padding: 0;
}
#a4 {
    margin: 1%;
    padding: 0;
}

#a5 {
    margin: 1%;
    padding: 0;
}

/*#add1 {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;

}

#d1 {
    color: white;
    text-align: right;
    font-size: 30px;
    
}

.d {
    text-align: right;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    width: 100%;
}*/

.vck {
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f0f0f0;
}

.v1 {
    overflow: hidden;
    background-color: #000;
    border-radius: 8px;
}



 
















